@{
    <link rel="stylesheet" href="@Url.Content("~/css/globalforall.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/about-us.css")" />
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "About us Page";
}

<div class="about-us">
    <div class="banner6">
        <img class="image-icon11"
             loading="eager"
             alt=""
             src="@Url.Content("~/mainimages/image4@2x.png")" />

        <h1 class="what-we-do">What We Do...</h1>
        <h1 class="about-our-organization-container">
            <p class="about-our">About our</p>
            <p class="organization">Organization</p>
        </h1>
    </div>
    <main class="about-us-parent">
        <section class="about-us1">
            <img class="image-icon12" alt="" src="@Url.Content("~/mainimages/image-12@2x.png")"/>

            <div class="content23">
                <div class="content24">
                    <div class="title2">
                        <h2 class="about-us2">About Us</h2>
                        <h1 class="solutions-to-help-container">
                            <p class="solutions-to-help">Solutions to Help People</p>
                            <p class="in-need-and">in Need and Save</p>
                            <p class="the-planet">the Planet</p>
                        </h1>
                    </div>
                    <div class="content25">
                            <p class="lorem-ipsum-is4">
                                At Humanity, we believe in the transformative power of collective action.
                                Through your generous donations, we are committed to implementing impactful solutions
                                that not only uplift the lives of those in need but also contribute to the preservation of our planet.
                            </p>
                        <div class="points">
                            <div class="save-the-children1">
                                Save the Children believes every child deserves a future.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="frame-parent22">
            <div class="image-parent-wrapper">
                <div class="image-parent4">
                    <div class="content26">
                        <div class="content27">
                            <h2 class="our-goal1">Our Goal</h2>
                            <div class="lorem-ipsum-is-container3">
                                <p class="lorem-ipsum-is5">
                                    Our mission is to connect compassionate donors with impactful causes,
                                    fostering positive change and transforming lives through the power of generosity.
                                    Together, we strive to build a more compassionate and equitable world for all.
                                </p>
                                <p class="blank-line26">&nbsp;</p>
                            </div>
                        </div>
                        <div class="tags">
                            <div class="semicolon">
                                <div class="icon-image-a">
                                    <div class="content28">
                                        <img src="@Url.Content("~/mainimages/right-Icon.png")">
                                        <p class="icon4">Make Donation</p>
                                    </div>
                                </div>
                                <div class="content-block-d">
                                    <div class="content29">
                                        <img src="@Url.Content("~/mainimages/right-Icon.png")">
                                        <p class="icon5">Donation Reched 10M</p>
                                    </div>
                                </div>
                            </div>
                            <div class="semicolon">
                                <div class="icon-image-a">
                                    <div class="content28">
                                        <img src="@Url.Content("~/mainimages/right-Icon.png")">
                                        <p class="icon4">Education</p>
                                    </div>
                                </div>
                                <div class="content-block-d">
                                    <div class="content29">
                                        <img src="@Url.Content("~/mainimages/right-Icon.png")">
                                        <p class="icon5">Become a Volunteer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="semicolon">
                                <div class="icon-image-a">
                                    <div class="content30">
                                        <img src="@Url.Content("~/mainimages/right-Icon.png")">
                                        <p class="icon4">Food For Poor People</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lorem-ipsum-is-container4">
                            <p class="lorem-ipsum-is6">
                                At our core, we are a passionate team dedicated to
                                driving positive change through the collective power of giving.
                                With transparency, integrity, and a commitment to impact,
                                we strive to bridge the gap between those who wish to help and those in need, making philanthropy accessible to all.
                            </p>
                            <p class="blank-line27">&nbsp;</p>
                        </div>
                    </div>
                    <div class="header-frame">
                        <div class="subheader-frame">
                            <h1 class="our-mission">Our Mission</h1>
                            <div class="lorem-ipsum-is-container5">
                                <p class="lorem-ipsum-is7">
                                    Our mission is to facilitate meaningful connections between donors and causes,
                                    empowering individuals to make a tangible difference in the lives of those in need.
                                </p>
                                <p class="blank-line28">&nbsp;</p>
                            </div>
                        </div>
                        <div class="frame-banner">
                            <div class="image-parent5">
                                <img class="image-icon13"
                                     alt=""
                                     src="@Url.Content("~/mainimages/image-21@2x.png")" />

                                <div class="sub-content">
                                    <div class="thousand-people-helped">20000+</div>
                                    <div class="thousand-people-helped1">
                                        Thousand People Helped
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="team3">
                <img class="background-icon1"
                     alt=""
                     src="@Url.Content("~/mainimages/background.svg")" />

                <div class="team-parent">
                    <h2 class="team4">Team</h2>
                    <h1 class="meet-our-volunteers">Meet Our Volunteers</h1>
                </div>
                <div class="volunteer-images">
                    <div class="div24">
                        <img class="image-icon14"
                             alt=""
                             src="@Url.Content("~/mainimages/image-3@2x.png")" />

                        <div class="name14">
                            <div class="martin-luther">Martin Luther</div>
                            <div class="follow6">
                                <img class="insta-icon7"
                                     loading="eager"
                                     alt=""
                                     src="@Url.Content("~/mainimages/insta2.svg")" />

                                <img class="fb-icon7" alt="" src="@Url.Content("~/mainimages/fb.svg")" />

                                <img class="twiter-icon7"
                                     alt=""
                                     src="@Url.Content("~/mainimages/twiter.svg")" />

                                <img class="pintrest-icon7"
                                     loading="eager"
                                     alt=""
                                     src="@Url.Content("~/mainimages/pintrest2.svg")" />
                            </div>
                        </div>
                    </div>
                    <div class="div25">
                        <img class="image-icon15"
                             alt=""
                             src="@Url.Content("~/mainimages/image-4@2x.png")" />

                        <div class="name15">
                            <div class="keira-knightley">Keira Knightley</div>
                            <div class="follow7">
                                <img class="insta-icon8" alt="" src="@Url.Content("~/mainimages/insta2.svg")" />

                                <img class="fb-icon8" alt="" src="@Url.Content("~/mainimages/fb.svg")" />

                                <img class="twiter-icon8"
                                     alt=""
                                     src="@Url.Content("~/mainimages/twiter.svg")" />

                                <img class="pintrest-icon8"
                                     alt=""
                                     src="@Url.Content("~/mainimages/pintrest2.svg")" />
                            </div>
                        </div>
                    </div>
                    <div class="div26">
                        <img class="image-icon16"
                             alt=""
                             src="@Url.Content("~/mainimages/image-5@2x.png")" />

                        <div class="name16">
                            <div class="jack-sparrow6">Jack Sparrow</div>
                            <div class="follow8">
                                <img class="insta-icon9" alt="" src="@Url.Content("~/mainimages/insta2.svg")" />

                                <img class="fb-icon9" alt="" src="@Url.Content("~/mainimages/fb.svg")" />

                                <img class="twiter-icon9"
                                     alt=""
                                     src="@Url.Content("~/mainimages/twiter.svg")" />

                                <img class="pintrest-icon9"
                                     alt=""
                                     src="@Url.Content("~/mainimages/pintrest2.svg")" />
                            </div>
                        </div>
                    </div>
                    <div class="background-icon2">
                        <button class="icon9">
                            <div class="background-parent">
                                <div class="background12"></div>
                                <img class="icon10" alt="" src="@Url.Content("~/mainimages/icon-5@2x.png")" />
                            </div>
                        </button>
                        <div class="become-a-volunteer-container">
                            <p class="become">Become</p>
                            <p class="a-volunteer">a Volunteer</p>
                        </div>
                        <div class="centuries-but-also">
                            Become a catalyst for positive change by joining our volunteer community.
                        </div>
                        <button class="button32">
                            <div class="button-child"></div>
                            <div class="join-us-today">Join Us Today</div>
                        </button>
                    </div>
                </div>
            </section>
        </section>
    </main>
</div>