@{
    <link rel="stylesheet" href="@Url.Content("~/css/blog-single.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/globalforall.css")" />
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Blog Single Page";
}

<div class="blog-single">
    <section class="background-image">
        <div class="content-frame">
            <img class="photo-icon" alt="" src="@Url.Content("~/mainimages/Banner.png")"/>
            <div class="sub-title-frame">
                <div class="background-layer">
                    <div class="background2"></div>
                </div>
                <div class="background3"></div>
                <div class="july-05-2022">July 05, 2022 | Nattasha</div>
                <h1 class="weve-reached-1-container">
                    <p class="weve-reached-1">We’ve reached 1 million in</p>
                    <p class="donations-counting">donations & counting</p>
                </h1>
            </div>
        </div>
    </section>
    <div class="blog-single1">
        <div class="uniquely-matrix-economically">
            Each donation made through our website is a beacon of hope
            for those facing adversity. Whether it's providing meals for
            families struggling with food insecurity, funding educational initiatives
            for underprivileged children, or supporting healthcare services for
            vulnerable populations, every dollar donated has the potential to change someone's life for the better.
        </div>
        <div class="content-frame1">
            <h1 class="we-are-need">We Are Need Your Help</h1>
            <div class="content">
                <div class="veniam-quae-nostrum1">
                    Every day, millions of people around the world face unimaginable challenges—from poverty and
                    hunger to lack of access to education and healthcare. Yet, in the face of adversity, there is hope.
                    With your support, we can provide vital resources and support to those who need it most,
                    offering a lifeline to individuals and communities in need.
                </div>
                <div class="neque-sodales-ut-container">
                    <ul class="neque-sodales-ut-etiam-sit-ame">
                        <li class="neque-sodales-ut">
                            We're constantly exploring new ways to harness the power of technology and innovation to drive positive change.
                        </li>
                    </ul>
                    <p class="blank-line16">&nbsp;</p>
                    <ul class="nostrum-facere-repellendus-min">
                        <li class="nostrum-facere-repellendus">
                            By embracing new ideas and technologies, we strive to make giving more accessible, efficient, and impactful for everyone.
                        </li>
                    </ul>
                    <p class="blank-line17">&nbsp;</p>
                    <ul class="a-rich-text-element-can-be-use">
                        <li>
                            By fostering trust and accountability, we aim to build long-lasting relationships with our supporters.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="blockquotes">
            <div class="content1">
                <img class="empty-frame-icon"
                     loading="eager"
                     alt=""
                     src="@Url.Content("~/mainimages/empty-frame.svg")" />

                <h3 class="in-the-end">
                    “In the end, maybe it's wiser to surrender before the miraculous
                    scope of human generosity and to just keep saying thank you,
                    forever and sincerely, for as long as we have voices”
                </h3>
            </div>
        </div>
        <div class="author-frame">
            <div class="content2">
                <div class="donate-your-time">Donate your time and skills</div>
                <div class="veniam-quae-nostrum2">
                    In a world where every act of kindness matters, donating your time and
                    skills can be just as impactful as monetary contributions. At Humanity,
                    we believe in the power of volunteerism and the unique value that each
                    individual brings to the table. Here's why donating your time and skills can make a difference
                </div>
            </div>
            <div class="efficiently-myocardinate-marke-container">
                <ol class="efficiently-myocardinate-marke">
                    <li class="efficiently-myocardinate-marke1">
                        Direct Impact
                    </li>
                    <li class="idea-sharing-with-back">
                        Personal Growth
                    </li>
                    <li class="ballpark-value-added">
                        Building Connections
                    </li>
                    <li>Creating Lasting Change</li>
                </ol>
            </div>
        </div>
        <div class="author">
            <div class="content3">
                <img class="image-icon"
                     loading="eager"
                     alt=""
                     src="@Url.Content("~/mainimages/image@2x.png")"/>

                <div class="content4">
                    <div class="name7">
                        <b class="cincinatty">Cincinatty</b>
                        <div class="donator">Donator</div>
                    </div>
                    <div class="centuries-but-alsoleapintelect">
                        "I find the website very user-friendly and informative.
                        It's easy to navigate and understand how my donation will be utilized.
                        I appreciate the transparency and updates provided,
                        which make me feel confident in contributing to such a worthy cause."
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>