@{
    <link rel="stylesheet" href="@Url.Content("~/css/causes.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/globalforall.css")" />
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Causes Page";
}

<div class="causes1">
    <section class="banner2">
        <img class="background-image-icon1"
             loading="eager"
             alt=""
             src="@Url.Content("~/mainimages/causesimage1.png")" />

        <h1 class="donation2">Donation</h1>
        <h1 class="our-causes1">Our Causes</h1>
    </section>
    <section class="blog-wrapper">
        <div class="blog">
            <div class="frame-divider">
                <div class="frame-frame">
                    <img class="image-icon"
                         loading="eager"
                         alt=""
                         src="@Url.Content("~/mainimages/causesimage2.png")" />

                    <div class="big-charity-build-school-for-container">
                        <h3 class="big-charity-build2">
                            Big charity: build school for poor children
                        </h3>
                        <div class="display-text-parent1">
                            <div class="display-text7">
                                <div class="donation-5000120006">
                                    Donation : $5,000/$12,000
                                </div>
                            </div>
                            <button class="button7">
                                <div class="donate6">Donate</div>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="big-charity-frame">
                    <img class="image-icon1" alt="" src="@Url.Content("~/mainimages/causesimage3.png")" />

                    <div class="frame-school-for-poor">
                        <h3 class="first-charity-activity-container1">
                            <p class="first-charity-activity1">
                                First charity activity of this
                            </p>
                            <p class="summer-today1">summer today</p>
                        </h3>
                        <div class="display-text-parent2">
                            <div class="display-text8">
                                <div class="donation-5000120007">
                                    Donation : $5,000/$12,000
                                </div>
                            </div>
                            <button class="button8">
                                <div class="donate7">Donate</div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div">
                <div class="wrapper">
                    <div class="div1">
                        <img class="image-icon2" alt="" src="@Url.Content("~/mainimages/causesimage4.png")" />

                        <div class="content2">
                            <div class="content3">
                                <h3 class="helping-the-homeless2">
                                    Helping the Homeless During the Holidays
                                </h3>
                                <div class="button9">
                                    <div class="display-text9">
                                        <div class="donation-5000120008">
                                            Donation : $5,000/$12,000
                                        </div>
                                    </div>
                                    <button class="button10">
                                        <div class="donate8">Donate</div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="image-parent">
                    <img class="image-icon3" alt="" src="@Url.Content("~/mainimages/causesimage5.png")" />

                    <div class="providing-access-to-safe-water-parent">
                        <h3 class="providing-access-to1">
                            Providing access to safe water, sanitation, and hygiene
                        </h3>
                        <div class="display-text-parent3">
                            <div class="display-text10">
                                <div class="donation-5000120009">
                                    Donation : $5,000/$12,000
                                </div>
                            </div>
                            <button class="button11">
                                <div class="donate9">Donate</div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div2">
                <div class="image-group">
                    <img class="image-icon4" alt="" src="@Url.Content("~/mainimages/causesimage6.png")" />

                    <div class="san-francisco-is-officially-th-group">
                        <h3 class="san-francisco-is1">
                            San Francisco is officially the first city to ban plastic
                        </h3>
                        <div class="display-text-parent4">
                            <div class="display-text11">
                                <div class="donation-50001200010">
                                    Donation : $5,000/$12,000
                                </div>
                            </div>
                            <button class="button12">
                                <div class="donate10">Donate</div>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="image-container">
                    <img class="image-icon5" alt="" src="@Url.Content("~/mainimages/causesimage7.png")" />

                    <div class="big-charity-build-school-for-parent1">
                        <h3 class="big-charity-build3">
                            Big charity: build school for poor children
                        </h3>
                        <div class="display-text-parent5">
                            <div class="display-text12">
                                <div class="donation-50001200011">
                                    Donation : $5,000/$12,000
                                </div>
                            </div>
                            <button class="button13">
                                <div class="donate11">Donate</div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>