@{
    <link rel="stylesheet" href="@Url.Content("~/css/causes-single.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/globalforall.css")" />
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Causes Single Page";
}

<div class="causes-single">
    <section class="banner4">
        <img class="background-image-icon4"
             loading="eager"
             alt=""
             src="@Url.Content("~/mainimages/background-image4@2x.png")" />

        <h1 class="donation1">Donation</h1>
        <h1 class="first-charity-activity-container">
            <p class="first-charity-activity">First charity activity of this</p>
            <p class="summer-today">summer today</p>
        </h1>
    </section>
    <section class="donation-text">
        <img class="image-icon10"
             loading="eager"
             alt=""
             src="@Url.Content("~/mainimages/image3@2x.png")" />

        <div class="donation-500012000-parent">
            <div class="donation-500012000">Donation : $5,000/$12,000</div>
            <div class="line-with-content">
                <div class="content-frame3"></div>
                <div class="content10">
                    <div class="horizontal-rule">
                        <h2 class="our-goal">Our Goal</h2>
                        <div class="veniam-quae-nostrum-container">
                            <p class="veniam-quae-nostrum7">
                                Our goal at Humanity is to create a platform that facilitates meaningful
                                connections between donors and impactful causes.
                                We aim to empower individuals to make a difference by providing them with
                                easy access to trusted charities and projects in need of support.
                                Through our platform, we strive to inspire generosity, foster empathy,
                                and drive positive change in communities around the world.
                            </p>
                            <p class="p"></p>
                            <p class="for-dynamic-content">
                                Whether
                                it's addressing basic needs like food and shelter, supporting education
                                and healthcare initiatives, or promoting environmental sustainability,
                                our goal is to make philanthropy accessible, transparent, and impactful for
                                everyone. Together, we believe we can create a brighter, more compassionate world for all.
                            </p>
                        </div>
                    </div>
                    <div class="horizontal-rule1">
                        <div class="we-love-design">
                            We improve our skills
                        </div>
                        <div class="veniam-quae-nostrum8">
                            At Humanity, we are dedicated to continual improvement and growth.
                            We recognize that by enhancing our skills, we can better serve our community and amplify our impact.
                            Through ongoing learning and development initiatives, we strive to refine our strategies,
                            optimize our processes, and stay at the forefront of innovation in the realm of philanthropy.
                        </div>
                    </div>
                    <div class="horizontal-rule2">
                        <div class="details-about-the">Details about the cause</div>
                        <div class="veniam-quae-nostrum-container1">
                            <p class="veniam-quae-nostrum9">
                                On our Charity Donation Website, we provide comprehensive details about the
                                causes we support, ensuring transparency and clarity for our donors. Each
                                cause is carefully vetted to ensure alignment with our mission and values, and we
                                strive to provide detailed information about the specific issues being addressed, the
                                communities impacted, and the intended outcomes of our interventions
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="donate-form">
            <div class="input-frame7">
                <div class="inner-frame1">
                    <h2 class="donate-here">Donate Here</h2>
                    <div class="veniam-quae-nostrum10">
                        Donate now...!
                    </div>
                </div>
                <div class="qr-code">
                    <div class="background4"></div>
                    <img class="qr-code-icon"
                         loading="eager"
                         alt=""
                         src="@Url.Content("~/mainimages/qr-code.svg")" />

                    <div class="small-frame">
                        <div class="scan-this-qr-container">
                            <span>
                                <p class="scan-this-qr">Scan this QR code</p>
                                <p class="to-donate">to Donate</p>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="accepted-payment-methods">Accepted Payment Methods</div>
                <div class="upi-card">
                    <div class="background5"></div>
                    <img class="photo-icon1"
                         loading="eager"
                         alt=""
                         src="@Url.Content("~/mainimages/google pay.png")" />

                    <img class="photo-icon2"
                         loading="eager"
                         alt=""
                         src="@Url.Content("~/mainimages/frame-34918@2x.png")" />
                </div>
            </div>
            <div class="large-frame">
                <div class="bank-info">
                    <h2 class="bank-details">Bank Details</h2>
                    <div class="create-and-format">
                        our cherity bank acount details is in below
                        Donate now...!
                    </div>
                </div>
                <div class="scan-to-donate">
                    <div class="account-number-beneficiar-container">
                        <p class="account-number">Account Number</p>
                        <p class="blank-line21">&nbsp;</p>
                        <p class="beneficiar-name">Beneficiar Name</p>
                        <p class="blank-line22">&nbsp;</p>
                        <p class="ifsc-code">IFSC Code</p>
                        <p class="blank-line22">&nbsp;</p>
                        <p class="ifsc-code">Bank Name</p>
                        <p class="blank-line22">&nbsp;</p>
                        <p class="ifsc-code">Branch</p>
                    </div>
                    <div class="walfare-organization-wrdsbi0bn-container">
                        <p class="p2">32505563879899</p>
                        <p class="blank-line23">&nbsp;</p>
                        <p class="walfare-organization">Humanity Cherity</p>
                        <p class="blank-line24">&nbsp;</p>
                        <p class="wrdsbi0bnkpis">IPOS0000001</p>
                        <p class="blank-line24">&nbsp;</p>
                        <p class="wrdsbi0bnkpis">STATE BANK OF INDIA</p>
                        <p class="blank-line24">&nbsp;</p>
                        <p class="wrdsbi0bnkpis">Dhebar road Rajkot</p>
                    </div>
                </div>
                <button class="button15">
                    <div class="copy-account-details">Copy Account Details</div>
                </button>
            </div>
        </div>
    </section>
</div>