@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home";
}

<div class="k-text">
    <div class="banner6">
        <img class="background-image-icon6"
             loading="eager"
             alt=""
             src="@Url.Content("~/hfimages/background-image6@2ximage.png")" />

        <div class="content32">
            <div class="content33">
                <div class="title2">
                    <h1 class="need-help">Need Help...</h1>
                    <h1 class="being-life-saver-container">
                        <p class="being-life-saver">Being Life Saver</p>
                        <p class="for-someone">For Someone</p>
                    </h1>
                </div>
            </div>
            <div class="button76">
                <button class="button77">
                    <div class="donate14"><a style="text-decoration:none; color:white;" asp-action="donationnow">Donate</a> </div>
                </button>
                <button class="button78">
                    <div class="discover"><a style="text-decoration:none; color:darkslategray;" asp-action="causes">Discover</a></div>
                </button>
            </div>
        </div>
        <div class="address-input1">
            <div class="content34">
                <div class="content35">
                    <h2 class="education">Education</h2>
                    <div class="below-poverty-line">
                        Education helps a person to get knowledge and improve confidence in life. It can help you improve your career and your personal growth.
                    </div>
                </div>
                <button class="button79" id="button4">
                    <div class="discover1"><a style="text-decoration:none; color:darkslategray;" asp-action="aboutus">Discover</a></div>
                </button>
            </div>
        </div>
        <div class="address-input2">
            <div class="become-a-volunteer-wrapper">
                <h2 class="become-a-volunteer-container">
                    <p class="become">Become</p>
                    <p class="a-volunteer">a Volunteer</p>
                </h2>
            </div>
            <div class="volunteer-frame">
                <div class="below-poverty-line1">
                    Volunteering is like planting seeds of kindness in your community. It’s about offering your time, skills, and heart to help others.
                </div>
                <div class="button80" id="buttonContainer">
                    <div class="join-organization"><a style="text-decoration:none; color:white;" asp-action="volunteer">Join organization</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
      </section>
<section class="button81">
    <div class="counter">
        <div class="text8">
            <div class="title3">
                <h2 class="about-us22">About Us</h2>
                <h1 class="help-people-our-container">
                    <p class="help-people">Help People,</p>
                    <p class="our-main-goals">Our Main Goals</p>
                </h1>
            </div>
            <div class="content36">
                <!-- <div class="lorem-ipsum-is-container2"> -->
                <p class="lorem-ipsum-is4">
                    Welcome to our charity donation platform, where every
                    act of kindness creates a ripple of positive change.
                    At Humanity, we believe in the transformative power of giving.
                    Our mission is to bridge the gap between compassion and action,
                    providing a space for individuals to make a meaningful impact
                    on the lives of those in need.
                </p>

                <!-- </div> -->
                <button class="button82" id="button6">
                    <div class="more-about"><a style="text-decoration:none; color:white;" asp-action="aboutus">More About</a></div>
                </button>
            </div>
        </div>
        <div class="header-frame7">
            <img class="button-icon1" alt="" src="@Url.Content("~/hfimages/buttonimage.svg")" />

            <div class="donation-goal">
                <div class="frame-text">
                    <div class="main-content-frame">
                        <div class="background-color">
                            <img class="icon28" alt="" src="@Url.Content("~/hfimages/icon-11image.svg")" />

                            <img class="icon29" alt="" src="@Url.Content("~/hfimages/icon-11image.svg")" />

                            <img class="icon30" alt="" src="@Url.Content("~/hfimages/icon-11image.svg")" />
                        </div>
                        <div class="food-donation-money-container">
                            <p class="food-donation">Food Donation</p>
                            <p class="money-donation">Money Donation</p>
                            <p class="dress-donation">Dress Donation</p>
                        </div>
                    </div>
                    <div class="main-content-frame1">
                        <div class="icon-group">
                            <img class="icon31" alt="" src="@Url.Content("~/hfimages/icon-11image.svg")" />

                            <img class="icon32" alt="" src="@Url.Content("~/hfimages/icon-11image.svg")" />

                            <img class="icon33" alt="" src="@Url.Content("~/hfimages/icon-11image.svg")" />
                        </div>
                        <div class="water-supplay-education-container">
                            <p class="water-supplay">Water Supplay</p>
                            <p class="education-donation">Education Donation</p>
                            <p class="toys-donation">Toys Donation</p>
                        </div>
                    </div>
                </div>
                <div class="twitter-icon">
                    <div class="pinterest-icon">
                        <div class="total-donation">Total Donation</div>
                        <img class="chart-icon"
                             loading="eager"
                             alt=""
                             src="@Url.Content("~/hfimages/chartimage.svg")" />

                        <div class="projects-counter">
                            <div class="button-join-us">
                                <div class="collection-5m">Collection - ₹ 500K</div>
                                <button class="button83" id="button7">
                                    <div class="donat-now"><a style="text-decoration:none; color:darkslategrey;" asp-action="donationnow">Donat Now</a></div>
                                </button>
                            </div>
                            <div class="goal-10m">Goal - ₹ 1000K</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="subscribe-frame">
    <div class="what-we-do">
        <div class="title4">
            <h2 class="what-we-do-container">
                <p class="what-we-do1">What we do</p>
            </h2>
            <h1 class="we-do-it">We do it for People in Need</h1>
        </div>
        <div class="content49">
            <div class="header-section">
                <div class="title5">
                    <img class="icon34" alt="" src="@Url.Content("~/hfimages/icon-7@2ximage.png")" />

                    <div class="medicine-help">Medicine Help</div>
                </div>
                <div class="centuries-but-also">
                    Empower lives through Medicine Help.
                    Your contribution provides essential medications, offering hope and health to those in need.
                </div>
            </div>
            <div class="header-section1">
                <div class="title6">
                    <img class="oil-massage-icon"
                         loading="eager"
                         alt=""
                         src="@Url.Content("~/hfimages/oil-massage@2ximage.png")" />

                    <div class="water-delivery">Water Delivery</div>
                </div>
                <div class="centuries-but-also1">
                    Quenching more than thirst, Water Delivery initiative ensures clean,
                    life-sustaining water to communities in need. Join us in hydrating a world of possibilities.
                </div>
            </div>
            <div class="header-section2">
                <div class="title7">
                    <img class="day-care-icon"
                         loading="eager"
                         alt=""
                         src="@Url.Content("~/hfimages/day-care@2ximage.png")" />

                    <div class="we-care-about">We Care About</div>
                </div>
                <div class="centuries-but-also2">
                    compassion fuels action. Join hands with us to make a meaningful impact,
                    showing that together, we truly care about building a better world.
                </div>
            </div>
            <div class="header-section3">
                <div class="title8">
                    <img class="food-bar-icon"
                         loading="eager"
                         alt=""
                         src="@Url.Content("~/hfimages/food-bar@2ximage.png")" />

                    <div class="food-delivery">Food Delivery</div>
                </div>
                <div class="centuries-but-also3">
                    Nourishing hearts, one meal at a time. Support our Food Delivery
                    initiative to ensure no one goes to bed hungry, bringing sustenance and hope to those in need
                </div>
            </div>
            <div class="header-section4">
                <div class="title9">
                    <img class="geography-icon"
                         loading="eager"
                         alt=""
                         src="@Url.Content("~/hfimages/geography@2ximage.png")" />

                    <div class="spread-the-world">Spread The World</div>
                </div>
                <div class="centuries-but-also4">
                    Empower change by joining our "Spread The Word" campaign. Your voice can create a ripple effect,
                    raising awareness and inspiring others to make a difference through charitable actions
                </div>
            </div>
            <div class="header-section5">
                <div class="title10">
                    <img class="contract-icon"
                         loading="eager"
                         alt=""
                         src="@Url.Content("~/hfimages/contract@2ximage.png")" />

                    <div class="learn-education">Learn Education</div>
                </div>
                <div class="centuries-but-also5">
                    Illuminate a path to a brighter future with "Learn Education." Your support ensures that every child
                    has access to quality education, paving the way for knowledge, growth, and a world of possibilities
                </div>
            </div>
            <br>
            <div class="counter1">
                <div class="icon-frame3">
                    <div class="k">200k</div>
                    <div class="received-donations-from">
                        Received Donations From Our People
                    </div>
                </div>
                <div class="icon-frame4">
                    <div class="k1">99K</div>
                    <div class="projects-done-with-container">
                        <p class="projects-done-with">Projects Done With</p>
                        <p class="the-help-of">The Help Of Donators</p>
                    </div>
                </div>
                <div class="icon-frame5">
                    <div class="k2">300k</div>
                    <div class="people-we-helped-container">
                        <p class="people-we-helped">People We Helped</p>
                        <p class="on-2020">on 2023</p>
                    </div>
                </div>
                <div class="k-frame">
                    <div class="k3">10.7K</div>
                    <div class="with-our-volunteers">
                        With Our Volunteers We’ve Solved Many Causes
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="email-input">
    <div class="team18">
        <img class="background-icon1" alt="" src="@Url.Content("~/hfimages/backgroundimage.svg")" />

        <div class="recent-blog-section">
            <div class="blog-title"></div>
        </div>
        <div class="see-blogs-button">
            <div class="background-image3">
                <div class="footer-section">
                    <h2 class="team19">Team</h2>
                </div>
                <h1 class="meet-our-volunteers">Meet Our Volunteers</h1>
            </div>
        </div>
        <div class="logo-frame1">
            <div class="title-text">
                <div class="subtitle-text">
                    <img class="image-icon19"
                         alt=""
                         src="@Url.Content("~/hfimages/image-4@2ximage.png")" />

                    <div class="name44">
                        <div class="martin-luther">Martin Luther</div>
                        <div class="follow6">
                            <a href="#">
                                <img class="insta-icon15"
                                     alt=""
                                     src="@Url.Content("~/hfimages/insta-12image.svg")" />
                            </a>

                            <a href="#">
                                <img class="fb-icon15" alt="" src="@Url.Content("~/hfimages/fb-12image.svg")" />
                            </a>

                            <a href="#">
                                <img class="twiter-icon15"
                                     alt=""
                                     src="@Url.Content("~/hfimages/twiter-12image.svg")" />
                            </a>

                            <a href="#">
                                <img class="pintrest-icon16"
                                     alt=""
                                     src="@Url.Content("~/hfimages/pintrest-12image.svg")" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="subtitle-text1">
                    <img class="image-icon20"
                         alt=""
                         src="@Url.Content("~/hfimages/image-5@2ximage.png")" />

                    <div class="name45">
                        <div class="keira-knightley">Keira Knightley</div>
                        <div class="follow7">
                            <a href="#">
                                <img class="insta-icon16"
                                     alt=""
                                     src="@Url.Content("~/hfimages/insta-12image.svg")" />
                            </a>

                            <a href="#">
                                <img class="fb-icon16" alt="" src="@Url.Content("~/hfimages/fb-12image.svg")" />
                            </a>

                            <a href="#">
                                <img class="twiter-icon16"
                                     alt=""
                                     src="@Url.Content("~/hfimages/twiter-12image.svg")" />
                            </a>

                            <a href="#">
                                <img class="pintrest-icon17"
                                     alt=""
                                     src="@Url.Content("~/hfimages/pintrest-12image.svg")" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="subtitle-text2">
                    <img class="image-icon21"
                         alt=""
                         src="@Url.Content("~/hfimages/image-61@2ximage.png")" />

                    <div class="name46">
                        <div class="jack-sparrow6">Jack Sparrow</div>
                        <div class="follow8">
                            <a href="#">
                                <img class="insta-icon17"
                                     alt=""
                                     src="@Url.Content("~/hfimages/insta-12image.svg")" />
                            </a>

                            <a href="#">
                                <img class="fb-icon17" alt="" src="@Url.Content("~/hfimages/fb-12image.svg")" />
                            </a>

                            <a href="#">
                                <img class="twiter-icon17"
                                     alt=""
                                     src="@Url.Content("~/hfimages/twiter-12image.svg")" />
                            </a>

                            <a href="#">
                                <img class="pintrest-icon18"
                                     alt=""
                                     src="@Url.Content("~/hfimages/pintrest-12image.svg")" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="counter-frame7">
                    <button class="icon35">
                        <div class="background-group">
                            <div class="background22"></div>
                            <img class="icon36" alt="" src="@Url.Content("~/hfimages/icon-8@2ximage.png")" />
                        </div>
                    </button>
                    <div class="become-a-volunteer-container1">
                        <p class="become2">Become</p>
                        <p class="a-volunteer1">a Volunteer</p>
                    </div>
                    <div class="centuries-but-also6">
                        Become a catalyst for positive change by joining our volunteer community.
                    </div>
                    <button class="button92" id="button17">
                        <div class="button-child"></div>
                        <a style="text-decoration:none;" asp-action="volunteer"><div class="join-us-today">Join Us Today</div></a>
                    </button>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="volunteer-message-frame">
    <div class="newslatter">
        <div class="subscribe-parent">
            <h2 class="subscribe">Join now</h2>
            <h1 class="newsletter1">Humanity</h1>
        </div>
        <div class="addresses-bar-frame">
            <div class="sign-up-for">
                Sign in, Sign-up, Donat now and join now.
                send your email and join now
            </div>
        </div>
        <div class="signup-button">
            <a style="text-decoration:none;" asp-action="contactus">
            <button class="button93">
                <div class="send">Send</div>
            </button>
            </a>
        </div>
    </div>
    <div class="background-image4">
        <div class="background24"></div>
        <div class="background-frame2">
            <div class="background25"></div>
        </div>
        <div class="content-frame2">
            <h2 class="recent-blog">Recent Blog</h2>
            <h1 class="take-look-at-container">
                <p class="take-look-at">Take Look At Recent Blog</p>
                <p class="posts">Posts</p>
            </h1>
        </div>
        <button class="button94" id="button19">
            <a style="text-decoration:none;" asp-action="blogsingle"><div class="see-our-blogs">See Our Blogs</div></a>
        </button>
    </div>
</section>