@{
    <link rel="stylesheet" href="@Url.Content("~/css/globalforall.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/team.css")" />
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Team Page";
}

<div class="team">
    <section class="frame-team-image">
        <header class="banner2">
            <img class="background-image-icon2"
                 loading="eager"
                 alt=""
                 src="@Url.Content("~/mainimages/background-image2@2x.png")" />

            <h1 class="humanity-peoples">Humanity Peoples...</h1>
            <h1 class="team-member">Team Member</h1>
        </header>
    </section>
    <div class="frame-follow">
        <div class="team1">
            <div class="empty-frame">
                <div class="image-image">
                    <img class="image-icon3"
                         loading="eager"
                         alt=""
                         src="@Url.Content("~/mainimages/image2@2x.png")" />

                    <div class="name8">
                        <div class="jack-sparrow">Jack Sparrow</div>
                        <div class="follow">
                            <img class="insta-icon1"
                                 loading="eager"
                                 alt=""
                                 src="@Url.Content("~/mainimages/insta1.svg")" />

                            <img class="fb-icon1"
                                 loading="eager"
                                 alt=""
                                 src="@Url.Content("~/mainimages/fb1.svg")" />

                            <img class="twiter-icon1" alt="" src="@Url.Content("~/mainimages/twiter.svg")" />

                            <img class="pintrest-icon1"
                                 loading="eager"
                                 alt=""
                                 src="@Url.Content("~/mainimages/pintrest1.svg")" />
                        </div>
                    </div>
                </div>
                <div class="image-image1">
                    <img class="image-icon4" alt="" src="@Url.Content("~/mainimages/image-11@2x.png")" />

                    <div class="name9">
                        <div class="jack-sparrow1">Jack Sparrow</div>
                        <div class="follow1">
                            <img class="insta-icon2" alt="" src="@Url.Content("~/mainimages/insta1.svg")" />

                            <img class="fb-icon2" alt="" src="@Url.Content("~/mainimages/fb1.svg")" />

                            <img class="twiter-icon2" alt="" src="@Url.Content("~/mainimages/twiter.svg")" />

                            <img class="pintrest-icon2"
                                 alt=""
                                 src="@Url.Content("~/mainimages/pintrest1.svg")" />
                        </div>
                    </div>
                </div>
                <div class="newsletter-frame">
                    <img class="image-icon5" alt="" src="@Url.Content("~/mainimages/image-2@2x.png")" />

                    <div class="name10">
                        <div class="jack-sparrow2">Jack Sparrow</div>
                        <div class="follow2">
                            <img class="insta-icon3" alt="" src="@Url.Content("~/mainimages/insta1.svg")" />

                            <img class="fb-icon3" alt="" src="@Url.Content("~/mainimages/fb1.svg")" />

                            <img class="twiter-icon3" alt="" src="@Url.Content("~/mainimages/twiter.svg")" />

                            <img class="pintrest-icon3"
                                 alt=""
                                 src="@Url.Content("~/mainimages/pintrest1.svg")" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="team2">
            <div class="div8">
                <div class="div9">
                    <img class="image-icon6" alt="" src="@Url.Content("~/mainimages/image2@2x.png")" />

                    <div class="name11">
                        <div class="jack-sparrow3">Jack Sparrow</div>
                        <div class="follow3">
                            <img class="insta-icon4" alt="" src="@Url.Content("~/mainimages/insta1.svg")" />

                            <img class="fb-icon4" alt="" src="@Url.Content("~/mainimages/fb1.svg")" />

                            <img class="twiter-icon4" alt="" src="@Url.Content("~/mainimages/twiter.svg")" />

                            <img class="pintrest-icon4"
                                 alt=""
                                 src="@Url.Content("~/mainimages/pintrest1.svg")" />
                        </div>
                    </div>
                </div>
                <div class="div10">
                    <img class="image-icon7" alt="" src="@Url.Content("~/mainimages/image-11@2x.png")" />

                    <div class="name12">
                        <div class="jack-sparrow4">Jack Sparrow</div>
                        <div class="follow4">
                            <img class="insta-icon5" alt="" src="@Url.Content("~/mainimages/insta1.svg")" />

                            <img class="fb-icon5" alt="" src="@Url.Content("~/mainimages/fb1.svg")" />

                            <img class="twiter-icon5" alt="" src="@Url.Content("~/mainimages/twiter.svg")" />

                            <img class="pintrest-icon5"
                                 alt=""
                                 src="@Url.Content("~/mainimages/pintrest1.svg")" />
                        </div>
                    </div>
                </div>
                <div class="div11">
                    <img class="image-icon8" alt="" src="@Url.Content("~/mainimages/image-2@2x.png")" />

                    <div class="name13">
                        <div class="jack-sparrow5">Jack Sparrow</div>
                        <div class="follow5">
                            <img class="insta-icon6" alt="" src="@Url.Content("~/mainimages/insta1.svg")" />

                            <img class="fb-icon6" alt="" src="@Url.Content("~/mainimages/fb1.svg" )"/>

                            <img class="twiter-icon6" alt="" src="@Url.Content("~/mainimages/twiter.svg")" />

                            <img class="pintrest-icon6"
                                 alt=""
                                 src="@Url.Content("~/mainimages/pintrest1.svg")" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="newsletter">
        <img class="image-icon9" alt="" src="@Url.Content("~/mainimages/image-6.svg")" />

        <div class="content8">
            <div class="content9">
                <div class="title1">
                    <h2 class="beacame-volonteer">Beacame Volonteer</h2>
                    <h1 class="join-our-organization">Join Our Organization</h1>
                </div>
                <div class="save-the-children">
                    Save the Children believes every child deserves a future. In the
                    U.S. and around the world, we give children a healthy start in
                    life.
                </div>
            </div>
            <div class="email-address">
                <button class="button13">
                    <div class="join-us-now">Join Us Now</div>
                </button>
            </div>
        </div>
    </footer>
</div>