@model Humanity.Models.VolunteerDataModel

@{
    <link rel="stylesheet" href="@Url.Content("~/css/globalforall.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/volunteer.css")" />
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Volunteer Page";
}

<div class="volunteer">
    <section class="content-frame2">
        <div class="banner1">
            <img class="background-image-icon1"
                 loading="eager"
                 alt=""
                 src="@Url.Content("~/mainimages/background-image1@2x.png")" />

            <h1 class="need-your-heartful">Need Your Heartful Help...</h1>
            <h1 class="become-a-volunteer">Become a Volunteer</h1>
        </div>
        <div class="content5">
            <div class="secondary-content">
                <div class="content6">
                    <div class="title">
                        <h3 class="help-first">Help First</h3>
                        <h2 class="lets-help-together">Let’s help together</h2>
                    </div>
                    <div class="lorem-ipsum-is-container">
                        <p class="lorem-ipsum-is1">
                            Join us at "Let’s help together for humanity" - the charity donation website,
                            where every contribution makes a difference. Together, we can uplift
                            communities, provide essential aid, and create a brighter future for those in need.
                        </p>
                        <p class="blank-line18">&nbsp;</p>
                        <p class="it-has-survived">
                            Your support enables us to extend our reach and make a meaningful impact on the lives of
                            individuals and families around the world. Join our cause today and be a part of the
                            collective effort to promote compassion, dignity, and hope for all.
                        </p>
                    </div>
                    <button class="button10">
                        <div class="call-000">Call : +91 6353620712</div>
                    </button>
                </div>
                <img class="image-icon1"
                     loading="eager"
                     alt=""
                     src="@Url.Content("~/mainimages/image1@2x.png")" />
            </div>
            <div class="form-profile-completion">
                <img class="image-icon2"
                     loading="eager"
                     alt=""
                     src="@Url.Content("~/mainimages/image-1@2x.png")" />

                <div class="content7">
                    <h2 class="more-people-more">More People More impact</h2>
                    <div class="lorem-ipsum-is2">
                        it's our guiding principle at Humanity - the charity donation website.
                        With every additional supporter, our ability to create meaningful change grows exponentially.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="form2">
        <img class="background-icon" alt="" src="@Url.Content("~/mainimages/background.svg")" />

        <div class="help-text-frame">
            <h3 class="help-the-people">Help The People With us</h3>
        </div>
        <div class="form-frame">
            <div class="banner-frame">
                <div class="background-image-frame">
                    <div class="title-frame">
                        <h2 class="need-your-heartful1">Need Your Heartful Help</h2>
                        <div class="lorem-ipsum-is-container1">
                            <p class="lorem-ipsum-is3">
                                Need Your Heartful Help" is our heartfelt plea at Humanity - the charity donation website.
                                Together, we strive to extend a helping hand to those facing adversity and hardship.
                            </p>
                            <p class="blank-line19">&nbsp;</p>
                            <p class="bring-to-the">
                                Join us in making a difference today, as every contribution, no matter how small,
                                has the power to transform lives and bring hope to those who need it most.
                            </p>
                        </div>
                    </div>
                    <div class="button-frame">
                        <div class="frame-parent14">
                            <div class="help-text-frame-parent">
                                <div class="help-text-frame1"></div>
                                <div class="personal-info-input">01</div>
                            </div>
                            <div class="submit-button">
                                <div class="create-a-personal">
                                    Create a personal profile
                                </div>
                                <div class="veniam-quae-nostrum3">
                                    Join us in spreading kindness and compassion to those in need by becoming a part of our platform today.
                                </div>
                            </div>
                        </div>
                        <div class="line-frame">
                            <div class="frame-frame-frame"></div>
                            <div class="frame-parent15">
                                <div class="personal-profile-text-frame-parent">
                                    <div class="personal-profile-text-frame"></div>
                                    <div class="submit-button-text">02</div>
                                </div>
                                <div class="veniam-text-frame">
                                    <div class="add-your-organization">
                                        Add your organization
                                    </div>
                                    <div class="veniam-quae-nostrum4">
                                        let's make a difference in the lives of those who need it most.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="line-frame1">
                            <div class="line"></div>
                            <div class="frame-parent16">
                                <div class="ellipse-parent">
                                    <div class="ellipse"></div>
                                    <div class="div6">03</div>
                                </div>
                                <div class="add-volunteer-opportunities-parent">
                                    <div class="add-volunteer-opportunities">
                                        Add volunteer opportunities
                                    </div>
                                    <div class="veniam-quae-nostrum5">
                                        Join us in fostering positive change and creating a better world through volunteerism and community engagement.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="line-frame2">
                            <div class="line1"></div>
                            <div class="frame-parent17">
                                <div class="ellipse-group">
                                    <div class="ellipse1"></div>
                                    <div class="div7">04</div>
                                </div>
                                <div class="you-are-ready-to-recruit-parent">
                                    <div class="you-are-ready">You are ready to recruit!</div>
                                    <div class="veniam-quae-nostrum6">
                                        Tap into our platform to connect with passionate individuals eager to contribute their time and expertise to worthy causes.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <form method="post" asp-action="volunteer">
                <div class="form3">
                    <div class="name-input">
                        <div class="contact-details">
                            <div class="complete-the-form">Complete the Form</div>
                            <div class="fill-form-and">
                                Fill Form and Beacame Volonteer
                            </div>
                        </div>
                    </div>
                        <input type="hidden" asp-for="Id" />
                    <input class="name-input1"
                           placeholder="Enter Your Name*"
                           type="text"
                               asp-for="volunteername"
                               id="volunteername" />
                        <span asp-validation-for="volunteername" class="text-danger"></span>

                    <input class="name-input2"
                           placeholder="Phone Number*"
                           type="text"
                               asp-for="volunteernumber"
                               id="volunteernumber" />
                        <span asp-validation-for="volunteernumber" class="text-danger"></span>

                    <input class="name-input3"
                           placeholder="Email Address*"
                           type="text"
                               asp-for="volunteeremail"
                               id="volunteeremail" />
                        <span asp-validation-for="volunteeremail" class="text-danger"></span>

                        <input class="name-input4" placeholder="Address*" type="text" asp-for="volunteeraddress"
                               id="volunteeraddress" />
                        <span asp-validation-for="volunteeraddress" class="text-danger"></span>

                    <textarea class="name-input5"
                              placeholder="About Occupation*"
                              rows="{10}"
                              cols="{22}"
                                  asp-for="volunteerabout"
                                  id="volunteerabout">
                    </textarea>
                        <span asp-validation-for="volunteerabout" class="text-danger"></span>
                    <div class="name-input6">
                        <button type="submit" class="button11">
                            <div class="submit1">Submit</div>
                        </button>
                    </div>
                </div>
            </form>
            </div>
            @if (TempData["msg"] != null)
            {
                <script>
                    alert('@TempData["msg"].ToString();');
                </script>
            }
            <div class="call-to-action-button">
                <!-- <button class="button12">
                  <div class="get-started">Get Started</div>
                </button> -->
            </div>
        </div>
    </section>
</div>